
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">$station.location</a>
        </div>
        <div class="navbar-collapse collapse">
           
          <ul class="nav navbar-nav">
            <li><a href="index.html">$BootstrapLabels.headings.front_page</a></li>
            <li><a href="stats.html">$BootstrapLabels.headings.stats</a></li>
            <li><a href="history.html">$BootstrapLabels.headings.history</a></li>
            <li><a href="noaa_statistics.html">$BootstrapLabels.headings.comparisons</a></li>
          </ul>
          
          <p class="navbar-text navbar-right">
              $BootstrapLabels.headings.last_update $current.dateTime
          </p>
        </div><!--/.nav-collapse -->
      </div>
    </div>  
